<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FiguresToJumps</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>FormatVersion</key>
	<integer>5</integer>
	<key>JumpsToTargets</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGsCwwVFhoiIyQlKTA0VSRudWxs
	0w0ODxASFFdOUy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoRGAAqETgAOACl8QJDI5MjVB
	MDdGLUYzNzAtNDg2OC04M0Y1LTQ0RjYwQzIwNTY0QdIXDxgZXEdHQXR0cmlidXRlc4AE
	gAvTDQ4PGx4UohwdgAWABqIfIIAHgAiAClVUaXRsZV8QFElkZWFzcGFjZSBBc3NldCBV
	VUlEVVRydXN00g8mJyhZTlMuc3RyaW5ngAlfECRGOTA5NkZEQi1BNkVFLTREN0ItOTIz
	MC04MDg4OTdGMzAxMETSKissLVokY2xhc3NuYW1lWCRjbGFzc2VzXxAPTlNNdXRhYmxl
	U3RyaW5noywuL1hOU1N0cmluZ1hOU09iamVjdNIqKzEyXxATTlNNdXRhYmxlRGljdGlv
	bmFyeaMxMy9cTlNEaWN0aW9uYXJ50iorNTZfEBBDQ0Jhc2VKdW1wVGFyZ2V0ozc4L18Q
	EENDQmFzZUp1bXBUYXJnZXRfEBJHR0F0dHJpYnV0ZWRPYmplY3QACAARABoAJAApADIA
	NwBJAEwAUQBTAGAAZgBtAHUAgACHAIkAiwCNAI8AkQC4AL0AygDMAM4A1QDYANoA3ADf
	AOEA4wDlAOsBAgEIAQ0BFwEZAUABRQFQAVkBawFvAXgBgQGGAZwBoAGtAbIBxQHJAdwA
	AAAAAAACAQAAAAAAAAA5AAAAAAAAAAAAAAAAAAAB8Q==
	</data>
	<key>LastModified</key>
	<date>2020-05-31T00:35:32Z</date>
</dict>
</plist>
