<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Figure Table Display Attributes</key>
	<dict>
		<key>EED2DF3D-D710-4532-9402-654D21F9D049Simple Table</key>
		<dict>
			<key>Name</key>
			<string>Simple Table</string>
			<key>Style</key>
			<dict>
				<key>Body Figure Style</key>
				<dict>
					<key>actionsVisible</key>
					<true/>
					<key>adornmentLocation</key>
					<integer>64</integer>
					<key>adornmentSize</key>
					<real>16</real>
					<key>adornmentsEnclosed</key>
					<true/>
					<key>bold</key>
					<false/>
					<key>dashedPattern</key>
					<string>0</string>
					<key>datesVisible</key>
					<true/>
					<key>faceName</key>
					<string>Helvetica</string>
					<key>familyName</key>
					<string>Helvetica</string>
					<key>fillColor</key>
					<string>#ffffff</string>
					<key>fillStyle</key>
					<integer>1</integer>
					<key>fontSize</key>
					<real>12</real>
					<key>freeFormSizing</key>
					<false/>
					<key>gradientAngle</key>
					<real>-270</real>
					<key>gradientEndFillColor</key>
					<string>#000000</string>
					<key>horizontalAlignment</key>
					<integer>2</integer>
					<key>italic</key>
					<false/>
					<key>margin</key>
					<real>0.0</real>
					<key>notesVisible</key>
					<true/>
					<key>opacity</key>
					<real>1</real>
					<key>penColor</key>
					<string>#000000</string>
					<key>penWidth</key>
					<real>2</real>
					<key>priorityVisible</key>
					<false/>
					<key>radius</key>
					<real>0.0</real>
					<key>ratingsVisible</key>
					<false/>
					<key>shadowed</key>
					<false/>
					<key>shape</key>
					<string>Rectangle</string>
					<key>strikethrough</key>
					<integer>0</integer>
					<key>textColor</key>
					<string>#000000</string>
					<key>underline</key>
					<integer>0</integer>
					<key>verticalAlignment</key>
					<true/>
				</dict>
				<key>Column Footer Figure Style</key>
				<dict>
					<key>actionsVisible</key>
					<true/>
					<key>adornmentLocation</key>
					<integer>64</integer>
					<key>adornmentSize</key>
					<real>16</real>
					<key>adornmentsEnclosed</key>
					<true/>
					<key>bold</key>
					<false/>
					<key>dashedPattern</key>
					<string>0</string>
					<key>datesVisible</key>
					<true/>
					<key>faceName</key>
					<string>Helvetica</string>
					<key>familyName</key>
					<string>Helvetica</string>
					<key>fillColor</key>
					<string>#506580</string>
					<key>fillStyle</key>
					<integer>1</integer>
					<key>fontSize</key>
					<real>13</real>
					<key>freeFormSizing</key>
					<false/>
					<key>gradientAngle</key>
					<real>-270</real>
					<key>gradientEndFillColor</key>
					<string>#000000</string>
					<key>horizontalAlignment</key>
					<integer>2</integer>
					<key>italic</key>
					<false/>
					<key>margin</key>
					<real>0.0</real>
					<key>notesVisible</key>
					<true/>
					<key>opacity</key>
					<real>1</real>
					<key>penColor</key>
					<string>#000000</string>
					<key>penWidth</key>
					<real>2</real>
					<key>priorityVisible</key>
					<false/>
					<key>radius</key>
					<real>0.0</real>
					<key>ratingsVisible</key>
					<false/>
					<key>shadowed</key>
					<false/>
					<key>shape</key>
					<string>Rectangle</string>
					<key>strikethrough</key>
					<integer>0</integer>
					<key>textColor</key>
					<string>#ffffff</string>
					<key>underline</key>
					<integer>0</integer>
					<key>verticalAlignment</key>
					<true/>
				</dict>
				<key>Column Header Figure Style</key>
				<dict>
					<key>actionsVisible</key>
					<true/>
					<key>adornmentLocation</key>
					<integer>64</integer>
					<key>adornmentSize</key>
					<real>16</real>
					<key>adornmentsEnclosed</key>
					<true/>
					<key>bold</key>
					<false/>
					<key>dashedPattern</key>
					<string>0</string>
					<key>datesVisible</key>
					<true/>
					<key>faceName</key>
					<string>Helvetica</string>
					<key>familyName</key>
					<string>Helvetica</string>
					<key>fillColor</key>
					<string>#506580</string>
					<key>fillStyle</key>
					<integer>1</integer>
					<key>fontSize</key>
					<real>13</real>
					<key>freeFormSizing</key>
					<false/>
					<key>gradientAngle</key>
					<real>-270</real>
					<key>gradientEndFillColor</key>
					<string>#000000</string>
					<key>horizontalAlignment</key>
					<integer>2</integer>
					<key>italic</key>
					<false/>
					<key>margin</key>
					<real>0.0</real>
					<key>notesVisible</key>
					<true/>
					<key>opacity</key>
					<real>1</real>
					<key>penColor</key>
					<string>#000000</string>
					<key>penWidth</key>
					<real>2</real>
					<key>priorityVisible</key>
					<false/>
					<key>radius</key>
					<real>0.0</real>
					<key>ratingsVisible</key>
					<false/>
					<key>shadowed</key>
					<false/>
					<key>shape</key>
					<string>Rectangle</string>
					<key>strikethrough</key>
					<integer>0</integer>
					<key>textColor</key>
					<string>#ffffff</string>
					<key>underline</key>
					<integer>0</integer>
					<key>verticalAlignment</key>
					<true/>
				</dict>
				<key>Level 1</key>
				<dict>
					<key>Figure Style</key>
					<dict>
						<key>adornmentLocation</key>
						<integer>64</integer>
						<key>adornmentSize</key>
						<real>21</real>
						<key>adornmentsEnclosed</key>
						<true/>
						<key>autoInflate</key>
						<false/>
						<key>autoUseAsTextShadow</key>
						<true/>
						<key>bold</key>
						<false/>
						<key>captionWithinShapeBorder</key>
						<true/>
						<key>checksVisible</key>
						<false/>
						<key>dashedPattern</key>
						<string>0</string>
						<key>faceName</key>
						<string>Helvetica</string>
						<key>familyName</key>
						<string>Helvetica</string>
						<key>fillColor</key>
						<string>#506580</string>
						<key>fillStyle</key>
						<integer>1</integer>
						<key>fontSize</key>
						<real>13</real>
						<key>horizontalAlignment</key>
						<integer>2</integer>
						<key>italic</key>
						<false/>
						<key>margin</key>
						<real>0.0</real>
						<key>opacity</key>
						<real>1</real>
						<key>penColor</key>
						<string>#000000</string>
						<key>penWidth</key>
						<real>2</real>
						<key>radius</key>
						<real>0.0</real>
						<key>shadowBlur</key>
						<real>10</real>
						<key>shadowColor</key>
						<string>rgba(00,00,00,0.750000)</string>
						<key>shadowEffect</key>
						<integer>0</integer>
						<key>shadowXOffset</key>
						<real>4</real>
						<key>shadowYOffset</key>
						<real>4</real>
						<key>shadowed</key>
						<false/>
						<key>shape</key>
						<string>Rectangle</string>
						<key>smartFillColor</key>
						<false/>
						<key>smartTextColor</key>
						<false/>
						<key>strikethrough</key>
						<integer>0</integer>
						<key>textCapitalization</key>
						<integer>0</integer>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>textShadowBlur</key>
						<real>10</real>
						<key>textShadowColor</key>
						<string>rgba(00,00,00,0.750000)</string>
						<key>textShadowXOffset</key>
						<real>4</real>
						<key>textShadowYOffset</key>
						<real>4</real>
						<key>textShadowed</key>
						<false/>
						<key>underline</key>
						<integer>0</integer>
						<key>verticalAlignment</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>Row Footer Figure Style</key>
				<dict>
					<key>actionsVisible</key>
					<true/>
					<key>adornmentLocation</key>
					<integer>64</integer>
					<key>adornmentSize</key>
					<real>16</real>
					<key>adornmentsEnclosed</key>
					<true/>
					<key>bold</key>
					<false/>
					<key>dashedPattern</key>
					<string>0</string>
					<key>datesVisible</key>
					<true/>
					<key>faceName</key>
					<string>Helvetica</string>
					<key>familyName</key>
					<string>Helvetica</string>
					<key>fillColor</key>
					<string>#506580</string>
					<key>fillStyle</key>
					<integer>1</integer>
					<key>fontSize</key>
					<real>13</real>
					<key>freeFormSizing</key>
					<false/>
					<key>gradientAngle</key>
					<real>-270</real>
					<key>gradientEndFillColor</key>
					<string>#000000</string>
					<key>horizontalAlignment</key>
					<integer>2</integer>
					<key>italic</key>
					<false/>
					<key>margin</key>
					<real>0.0</real>
					<key>notesVisible</key>
					<true/>
					<key>opacity</key>
					<real>1</real>
					<key>penColor</key>
					<string>#000000</string>
					<key>penWidth</key>
					<real>2</real>
					<key>priorityVisible</key>
					<false/>
					<key>radius</key>
					<real>0.0</real>
					<key>ratingsVisible</key>
					<false/>
					<key>shadowed</key>
					<false/>
					<key>shape</key>
					<string>Rectangle</string>
					<key>strikethrough</key>
					<integer>0</integer>
					<key>textColor</key>
					<string>#ffffff</string>
					<key>underline</key>
					<integer>0</integer>
					<key>verticalAlignment</key>
					<true/>
				</dict>
				<key>Row Header Figure Style</key>
				<dict>
					<key>actionsVisible</key>
					<true/>
					<key>adornmentLocation</key>
					<integer>64</integer>
					<key>adornmentSize</key>
					<real>16</real>
					<key>adornmentsEnclosed</key>
					<true/>
					<key>bold</key>
					<false/>
					<key>dashedPattern</key>
					<string>0</string>
					<key>datesVisible</key>
					<true/>
					<key>faceName</key>
					<string>Helvetica</string>
					<key>familyName</key>
					<string>Helvetica</string>
					<key>fillColor</key>
					<string>#506580</string>
					<key>fillStyle</key>
					<integer>1</integer>
					<key>fontSize</key>
					<real>13</real>
					<key>freeFormSizing</key>
					<false/>
					<key>gradientAngle</key>
					<real>-270</real>
					<key>gradientEndFillColor</key>
					<string>#000000</string>
					<key>horizontalAlignment</key>
					<integer>2</integer>
					<key>italic</key>
					<false/>
					<key>margin</key>
					<real>0.0</real>
					<key>notesVisible</key>
					<true/>
					<key>opacity</key>
					<real>1</real>
					<key>penColor</key>
					<string>#000000</string>
					<key>penWidth</key>
					<real>2</real>
					<key>priorityVisible</key>
					<false/>
					<key>radius</key>
					<real>0.0</real>
					<key>ratingsVisible</key>
					<false/>
					<key>shadowed</key>
					<false/>
					<key>shape</key>
					<string>Rectangle</string>
					<key>strikethrough</key>
					<integer>0</integer>
					<key>textColor</key>
					<string>#ffffff</string>
					<key>underline</key>
					<integer>0</integer>
					<key>verticalAlignment</key>
					<true/>
				</dict>
				<key>adornmentLocation</key>
				<integer>256</integer>
				<key>adornmentSize</key>
				<real>16</real>
				<key>adornmentsEnclosed</key>
				<false/>
				<key>autoInflate</key>
				<false/>
				<key>autoUseAsTextShadow</key>
				<true/>
				<key>bold</key>
				<false/>
				<key>captionWithinShapeBorder</key>
				<true/>
				<key>checksVisible</key>
				<false/>
				<key>dashedPattern</key>
				<string>0</string>
				<key>drawPreview</key>
				<false/>
				<key>faceName</key>
				<string>Helvetica</string>
				<key>familyName</key>
				<string>Helvetica</string>
				<key>fillColor</key>
				<string>#ffffff</string>
				<key>fillStyle</key>
				<integer>1</integer>
				<key>fontSize</key>
				<real>12</real>
				<key>freeFormSizing</key>
				<false/>
				<key>horizontalAlignment</key>
				<integer>4</integer>
				<key>italic</key>
				<false/>
				<key>margin</key>
				<real>0.0</real>
				<key>opacity</key>
				<real>1</real>
				<key>penColor</key>
				<string>#000000</string>
				<key>penWidth</key>
				<real>2</real>
				<key>radius</key>
				<real>0.0</real>
				<key>shadowBlur</key>
				<real>10</real>
				<key>shadowColor</key>
				<string>rgba(00,00,00,0.750000)</string>
				<key>shadowEffect</key>
				<integer>0</integer>
				<key>shadowXOffset</key>
				<real>4</real>
				<key>shadowYOffset</key>
				<real>4</real>
				<key>shadowed</key>
				<true/>
				<key>shape</key>
				<string>Rectangle</string>
				<key>smartFillColor</key>
				<false/>
				<key>smartTextColor</key>
				<false/>
				<key>strikethrough</key>
				<integer>0</integer>
				<key>textCapitalization</key>
				<integer>0</integer>
				<key>textColor</key>
				<string>#000000</string>
				<key>textShadowBlur</key>
				<real>10</real>
				<key>textShadowColor</key>
				<string>rgba(00,00,00,0.750000)</string>
				<key>textShadowXOffset</key>
				<real>4</real>
				<key>textShadowYOffset</key>
				<real>4</real>
				<key>textShadowed</key>
				<false/>
				<key>underline</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>_Version</key>
	<integer>2</integer>
</dict>
</plist>
